{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>{{house.title|title}}</h2>
            <p class="col-8">
                {{house.address}} {{house.city}}, {{house.state}} State, {{house.country}}.
            </p>
            <div class="small d-flex flex-wrap gap-3 align-items-center">
                <span><i class="bi bi-briefcase"></i> {{house.rent_price|intcomma}} <small
                        class="text-muted">NGN</small></span>
                <span><i class="bi bi-geo-alt"></i> Rent {{house.rent_cycle}}</span>
                <span><i class="bi bi-clock"></i> {{house.city}}, {{house.state}}</span>
                <span><span class="badge bg-success">Verified</span></span>
            </div>

            <a href="{% url 'inspect-house' house.pk %}" class="btn btn-primary mt-3">Schedule Inspection</a>
            <a href="{% url 'save-house' house.pk %}" class="btn btn-secondary mt-3 ms-1">Save</a>

        </div>
    </div>
</div>

<div class="mt-3">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    <h6 class="mb-0">House Details</h6>

                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h6>Specifications</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.

                                    Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
                                    et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin
                                    mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate
                                    vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu
                                    tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam.
                                </p>
                            </div>
                            <div>
                                <h6>Landlord Notes</h6>
                                <p>
                                    {{house.landlord_notes|safe}}
                                </p>
                            </div>
                          
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            
            <div class="card ">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    <h6 class="mb-0">House Alerts</h6>

                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">
                                        No spam. Authentic alerts only!
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}